.JobCard {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px;
  background-color: white;
}

.JobCard:not(:last-child) {
  margin-bottom: 16px;
}

.JobName {
  font-weight: bold;
  line-height: 150%;
}

.JobInfos {
  font-size: 16px;
}
